<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ECDS validation  </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h2> Verification for the Early Common DINI Suite (ECDS) </h2>
Verification of the current experiment <b> cca_dini25a_l90_arome </b>
using harp. The <b> EC9 </b> model is used as reference.
<br>
The plots are updated once a week, usually on a Thursday.
The verification is done for the current month.
<br>
<b> Last modification: {{lastmodified}} </b>
<br>
The calculation of the scorecards follows the score card
generation <a href = "https://harphub.github.io/harp/articles/scorecards.html" > tutorial </a>
<!-- <img src="http://hirlam.org/portal/uwc_west_validation/figs/scores.png" alt="Scores 2021"> -->
<br>
The scores can also be visualized loading the rds files uploaded to the <a href = "https://shiny.hirlam.org/harpVis/"> harpVis shiny app </a>. Static plots are included below.

<br>
<br>
Scorecards for <b> cca_dini25a_l90_arome </b>
<p><a href="scorecards_cca_dini25a_l90_arome.html">Score cards for all stations in DINI domain </a></p>
<p><a href="scorecards_cca_dini25a_l90_arome_DK.html">Score cards for Danish stations </a></p>
<p><a href="scorecards_cca_dini25a_l90_arome_IE_EN.html">Score cards for Irish stations </a></p>
<p><a href="scorecards_cca_dini25a_l90_arome_NL.html">Score cards for stations in The Netherlands </a></p>
<p><a href="scorecards_cca_dini25a_l90_arome_IS.html">Score cards for Icelandic stations </a></p>
<br>
<br>
Scorecards for <b> cca_dini25a_l90_arome_3d_v1 </b>
<p><a href="scorecards_cca_dini25a_l90_arome_3dvar_v1.html">Score cards for all stations in DINI domain </a></p>
<p><a href="scorecards_cca_dini25a_l90_arome_3dvar_v1_DK.html">Score cards for Danish stations </a></p>
<p><a href="scorecards_cca_dini25a_l90_arome_3dvar_v1_IE_EN.html">Score cards for Irish stations </a></p>
<p><a href="scorecards_cca_dini25a_l90_arome_3dvar_v1_NL.html">Score cards for stations in The Netherlands </a></p>
<p><a href="scorecards_cca_dini25a_l90_arome_3dvar_v1_IS.html">Score cards for Icelandic stations </a></p>

<br>
Bias and standard deviation for <b> cca_dini25a_l90_arome, cca_dini25a_l90_arome_3d_v1, EC9 </b>. Scores calculated for all stations in the domain indicated
<p><a href="scores.html">Scores for all stations in DINI domain </a></p>
<p><a href="scores_DK.html">Scores for Danish stations </a></p>
<p><a href="scores_IE_EN.html">Scores for Irish stations </a></p>
<p><a href="scores_NL.html">Scores for stations in The Netherlands </a></p>
<p><a href="scores_IS.html">Scores for Icelandic stations </a></p>
<br>
Vertical profiles
<p><a href="vertical_profiles_DINI.html">Vertical bias for DINI </a></p>
<!--
<p><a href="vertical_profiles_DK.html">Vertical bias for Denmark (TO FIX)  </a></p>
<p><a href="vertical_profiles_IE_EN.html">Vertical bias for Ireland </a></p>
<p><a href="vertical_profiles_NL.html">Vertical bias for The Netherlands </a></p>
<p><a href="vertical_profiles_IS.html">Vertical bias for Iceland </a></p>
-->
</body>
</html>

